Q1. How do you comment code in python? what are the different types of comments?

In [2]:
# This is comment line

Type of comments- There are two type of comments
>single line comments,
>multiline comments

In [3]:
#this is the single line commnets.

In [6]:
"""
This is a multiline comment in Python.
You can use it to write detailed explanations
about your code or to disable multiple lines.
"""
a=10
a

10

Q2.What are variable in python? How do you declare and assign values to variables?

Variable-variables in Python are like containers that store data

In [7]:
a=10  # a is variable and assign it value 10
a

10

Q3. How do you convert one data type to another in python?

In [8]:
a=10
type(a)

int

In [9]:
b=float(a) # Here a is integer it's convert into float
b

10.0

In [10]:
type(b)

float

Q4. How  do you write and execute a python script from the command line?

Ans-Write code in a text editor and save it as a .py file.

Open the command prompt or terminal.

Navigate to the script's directory using cd command.

Run the script with python filename.py.

Q5. Given a list my_list=[1,2,3,4,5], Write the code to slice the list and obtain the sub-list[2,3]

In [11]:
my_list=[1,2,3,4,5]
sub_list=my_list[1:3]
sub_list

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in python?

Complex number- complex number is a number in the form a + bi, where a and b are real numbers, and i is the imaginary unit (âˆš-1).

In [12]:
com=2+5j
type(com)

complex

Q7.What is the correct way to declare  a variable named age and assign the value 25 to it?

In [13]:
age=25 # here age is a variable which is assign the value 25
age

25

Q8. Declare a variable named price and assignl the value 9.99 to it. what  data type does this variable belong to ?

In [14]:
price=9.99
type(price)

float

Q9. Create a variable named and assign your full name to it as a string.HOw would you print the value of this variable?

In [15]:
Name="Aspiya sheikh"
Name

'Aspiya sheikh'

Q10. Given the string"Hello,World!",extract the substring "world".

In [18]:
string="Hello,World"
string[6:11]

'World'

Q11. Create  a variable named 'is_student' and assign it a boolean vlaue indicating whether you are currently a student or not.

In [20]:
is_student = True  # If you are currently a student
# OR
is_student1 = False  # If you are not currently a student
is_student

True