Q1 Create one variable containing following:

In [2]:
K="ASpiya"
print(K)

ASpiya

In [3]:
k=[1,2,'a',2.3]
print(k)

[1, 2, 'a', 2.3]

In [4]:
k=4.45
print(k)

4.45

In [7]:
tuple=("apple","mango")
print(tuple)

('apple', 'mango')

Q2 Given are some following variable containg data

In [8]:
var=''
type(var)

str

In [9]:
var2='[DS,ML,python]'
type(var2)

str

In [10]:
var3=['DS','ML','python']
type(var3)

list

In [11]:
var4=1
type(var4)

int

Q4 Create a list of your choice cointaing multiple types of Data. using for loop print the element and its data type

In [12]:
a=[78,4,4.5,'s','a']
for i in a:
    print(i)
    print(type(i))

78
<class 'int'>
4
<class 'int'>
4.5
<class 'float'>
s
<class 'str'>
a
<class 'str'>

Q3. Explain followinfg operator

In [13]:
# 1./(DIVISION)
a=9/9
a

1.0

In [14]:
#2./(Division)
a=2%5
a

2

In [15]:
#3.//(flor division)
a=45//4
a

11

In [18]:
# 4.**used for power calculate
a=9**6
a

531441

Q5. using While loop . verify if the number A is purely divisible by number B and if so then how many times it can be divisible

In [19]:
A=32
B=2
sh=0
while A%B==0:
    A=A/B
    sh=sh+1
if A==1:
    print("A is purely divisible ")
else:
    print("not divi.")

A is purely divisible

Q6.create a list containing 25 int type data item. Using for loop and if condition print if the element is divisible by 3 or not

In [21]:
N=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in N:
    if i%3==0:
        print("divisible by 3",i)
    else:
        print("not divisible 3",i)

not divisible 3 1
not divisible 3 2
divisible by 3 3
not divisible 3 4
not divisible 3 5
divisible by 3 6
not divisible 3 7
not divisible 3 8
divisible by 3 9
not divisible 3 10
not divisible 3 11
divisible by 3 12
not divisible 3 13
not divisible 3 14
divisible by 3 15
not divisible 3 16
not divisible 3 17
divisible by 3 18
not divisible 3 19
not divisible 3 20
divisible by 3 21
not divisible 3 22
not divisible 3 23
divisible by 3 24
not divisible 3 25

Q7. Mutable:- mutable simply meaning is "it can be changeble"
Ex:-list[] list can be change

In [22]:
Mal=[2,9,8,'sh']
Mal[3]=67
print(Mal)

[2, 9, 8, 67]

Immutable:- immutable simply meaing is "it cannot be change"
Ex:- String''String cannot be changeable

In [23]:
l="Aspiya"
print(l)

Aspiya

In [24]:
l[2]='f'
print(l)

TypeError: 'str' object does not support item assignment