Q1. Create a python to sort the given list of tuples based on integer value using a lambda function.

In [3]:
data =[('Sachine Tendulkar',34357),('ricky Ponting',27483),('jack kallis',25534),('virat kohli',24936)]

sorted_data = sorted(data, key=lambda x: x[1])

print(sorted_data)

[('virat kohli', 24936), ('jack kallis', 25534), ('ricky Ponting', 27483), ('Sachine Tendulkar', 34357)]

Q2. Write a python program to find the squares of all the numbers in the given list of integers using lambda and map function

In [5]:
l1=[1,2,3,4]
a=list(map(lambda x:x**2,l1))
a

[1, 4, 9, 16]

Q3.write a python program to convert the given list of integers into a tuple of strings. use map and lambda function.

In [9]:
integers = [1, 2, 3, 4, 5,6,7,8,9,10]
string_tuple = tuple(map(lambda x: str(x), integers))

print(string_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [10]:
from functools import reduce

numbers = list(range(1, 26))

# Using reduce to compute the product of the list
product = reduce(lambda x, y: x * y, numbers)

print("Product:", product)

Product: 15511210043330985984000000

Q5. write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

In [11]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 15, 18]

divisible_by_2_and_3 = [x for x in numbers if x % 2 == 0 and x % 3 == 0]

print("Numbers divisible by 2 and 3:", divisible_by_2_and_3)

Numbers divisible by 2 and 3: [6, 12, 18]

Q6. write a python program to find palindromes in the given list of strings using lambda and filter function.

In [12]:
strings = ["radar", "hello", "level", "world", "deified"]

palindromes = list(filter(lambda x: x == x[::-1], strings))

print("Palindromes in the list:", palindromes)

Palindromes in the list: ['radar', 'level', 'deified']