Q1. what is a database ?differentiate between sql and nosql databases.

A database is a structured collection of data that can be easily accessed, managed, and updated.


SQL Databases:


Use structured query language (SQL) for defining and manipulating data.
Are relational, meaning data is organized into tables with rows and columns.
Examples: MySQL, PostgreSQL, Oracle.


NoSQL Databases:


Do not primarily use SQL for data manipulation.
Are non-relational, meaning they store data in various formats like documents, key-value pairs, graphs, or wide-column stores.
Examples: MongoDB, Redis, Cassandra.

Q1.what is DDL? explain why create ,drop,alter,and truncate are used with and example.

DDL (Data Definition Language) is a subset of SQL used to define and manage database structures.

CREATE: Used to create new database objects like tables.

Example: CREATE TABLE students (id INT, name VARCHAR(100));
This creates a table named "students" with columns "id" and "name".

DROP: Used to delete database objects.

Example: DROP TABLE students;
This deletes the "students" table from the database.

ALTER: Used to modify existing database objects.

Example: ALTER TABLE students ADD COLUMN age INT;
This adds a new column "age" to the "students" table.

TRUNCATE: Used to delete all data from a table, but not the table itself.

Example: TRUNCATE TABLE students;
This removes all rows from the "students" table but keeps the table structure intact.

Q3. What is DML? explain insert,update,and delete with an example.

DML (Data Manipulation Language) is a subset of SQL used to manipulate data within database tables.

INSERT: Used to add new records to a table.

Example: INSERT INTO students (id, name, age) VALUES (1, 'Alice', 20);
This adds a new record with id=1, name='Alice', and age=20 to the "students" table.

UPDATE: Used to modify existing records in a table.

Example: UPDATE students SET age = 21 WHERE id = 1;
This updates the age to 21 for the student with id=1.

DELETE: Used to remove records from a table.

Example: DELETE FROM students WHERE id = 1;
This deletes the record of the student with id=1 from the "students" table.

Q4.what is DQL? explain select with an example.

DQL (Data Query Language) is a subset of SQL used to retrieve data from a database.

SELECT: Used to fetch data from one or more tables.

Example: SELECT * FROM students WHERE age > 20;
This selects all columns (*) from the "students" table where the age is greater than 20.

Q5.Explain primary key and foreign key.

Primary Key:

A primary key is a unique identifier for each record in a table.
It ensures that each row in a table is uniquely identifiable.
It cannot contain NULL values.
Typically, a primary key is defined on one or more columns in a table.
Example: In a "students" table, the "student_id" column can be designated as the primary key.

Foreign Key:

A foreign key is a column or set of columns in one table that refers to the primary key in another table.
It establishes a relationship between two tables.
It ensures referential integrity by enforcing a link between the data in the two tables.
Example: In a "grades" table, the "student_id" column could be a foreign key that refers to the "student_id" column in the "students" table, linking each grade to a specific student.

Q6.write a python code to connect mysql to python.explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

# Create a cursor object
cursor = connection.cursor()

# Execute SQL query
cursor.execute("SELECT * FROM table_name")

# Fetch the results
results = cursor.fetchall()

# Process the results
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

Q7.give the order of execution of sql clauses in an sql query.